/* index.css */

.checkout-page__bg-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .checkout-page__bg-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .checkout-page-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .checkout-page-items img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .buynow-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right; /* Position the button to the right */
  }

  .grandtotal{
    font-weight: 600;
  }
  /* You can add more styling as needed */
  